.main-content{
    min-height: 100vh;
    background-color: aqua;
    background-image: url("../pic/361566274_567216222289883_2550534116236305321_n.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
}

.greeting {
    align-items: center;
} 

