.main-content{
    min-height: 90vh;
    background-color: white;
    background-size: cover;
    background-position: center;
    height: 100%;
}

#contact-main{
    background-image: url("../pic/con-back.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#index-main{
    background-image: url("../pic/index-back.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.greeting {
    align-items: center;
} 

.greeting-box {
    margin: auto;    
}

.text-logo {
    color: rgb(56, 168, 56);
    /* color: white; */
    
}

.transparent {
    background-color: transparent !important;
}

#findplant {
    background-color: rgb(56, 168, 56);
}

.tree-pic{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    padding-top: 5%;
    border: none; !important
}


footer{
    background-color: rgb(248,249,250);
    padding: 50px;
    border: 1px solid #dee2e6!important;
    color: rgb(56, 168, 56);
}

#adjust{
    height: 100px;
}

.brown{
    background-color: #643e36;
    border-color: white;
}

.green{
    border-color: white;
    background-color: rgb(66, 168, 66);
}

#describ{
    margin: auto ;
}

#greeting-box-con{
    height: 80vh;

}

.border-brown{
    border: 4px solid #6C3428;
}

.border-gold{
    border: 4px solid #FFD95A;
}

.tree-name{
    font-size: 12px;
}