.main-content{
    min-height: 100vh;
    background-color: aqua;
    background-image: url("../pic/pexels-anete-lusina-4792347.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
}

.greeting {
    align-items: center;
} 

.text-logo {
    font-family: 'Brush Script MT', cursive;
    color: white;
}

.transparent {
    background-color: transparent !important;
}
